# Python
__pycache__/
*.py[cod]
*.egg-info/
server_venv/
.venv/

# Django
server/db.sqlite3
server/media/
server/staticfiles/

# Docker / env
.env
.env.test
.env.preprod
.env.prod

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Flutter
**/build/
**/.dart_tool/
**/.packages

# Generated credentials
*_credentials.csv
